#img-text {
  .card-box {
    border: Mixed solid rgba(2, 151, 157, 1);
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .arrows {
    justify-content: end;
    margin-bottom: 19px;
  }

  .arrow {
    font-size: 30px;
    color: #fff;
    background-color: #02979d;
    padding: 4px;
    border-radius: 50%;
    margin-inline-start: 13px;
  }

  // .arrow_long {
  //   background-color: #02979D;
  //   color: #fff;
  //   padding: 10px 25px;
  //   font-size: 20px;
  // }

  // button {
  //   padding: 8px 50px;
  // }
}
