#footer {
  background-size: cover;
  background-image: url("../../public/img/home/bg-footer.png");
  margin-top: 7rem;
  padding: 32px 0px 24px 0px;
  width: 100%;

  .ftext {
    height: 268px;
    margin-top: 16px;
    margin-bottom: 18px;
    line-height: 34px;
    color: #ffffff;
  }

  .column:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
  }

  .fh1 {
    // font-size: 28px;
    line-height: 28px;
    // color: #fafefe;
  }

  a {
    color: #ffffff;
    margin-top: 35px;
  }

  .avatar-social {
    border-radius: 10px;
    color: #02979d;
    background-color: #ffffff;
    width: 45px;
    height: 45px;

    svg {
      font-size: 23px;
    }
  }

  button {
    box-shadow: none !important;
    border-radius: 50px !important;
    padding: 8px 35px 8px 35px !important;
    font-size: 16px !important;
    margin-top: 23px;
  }

  .formn,
  .forme,
  .formm {
    width: 100%;
    background: #fafefe;
    border-radius: 15px;
    border: 1px solid #fafefe;
  }

  .formn,
  .forme {
    height: 40px;
  }

  .formm {
    height: 113px !important;
    width: 100% !important;
  }

  .fname,
  .femail,
  .fmessage {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 1em;
    line-height: 36px;
    color: #ffffff;
  }

  .fsmessage {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 45px;
    margin-inline: 18%;
    margin-top: 38px;
    background: #fafefe;
    border-radius: 30px;
    border: 1px solid #fafefe;
  }
}
