.pay_title {
  padding-top: 150px;
  font-size: 48px !important;
  padding-top: 40px;
}
.pay_table {
  font-family: "Gilroy";
  padding: 5px;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 70px;
  border-bottom: 0.2px solid $primary;
}
.pay_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textfield_title {
  font-family: "Gilroy";
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.text_field {
  width: 604px !important;
  height: 68px;
  border-radius: 35px !important;
  border: 0.5px solid $primary !important;
  background-color: $light;
}

.coupon-wrapper {
  position: relative;
}

.input-container {
  position: relative;
  display: inline-block;
}

.addcoupon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0.5px solid $primary;
  color: $light;
  background-color: $primary;
  width: 167px;
  height: 71px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
}

.checkout {
  border-radius: 35px;
  border: 0.5px solid $primary;
  width: 604px;
  height: 68px;
  color: $light;
  background-color: $primary;
  margin-bottom: 200px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  margin-top: 55px;
}
