#psychology {
  .header {
    background: url("../img/psychology/header.png");
    background-size: cover;
    height: 120vh;
    .width-text {
      height: 65vh;
      .box-text {
        padding: 30px;
        border: 1px $warning solid;
        width: 500px;
        .title {
          line-height: 70px;
        }
      }
    }

    // search
    .search-header {
      .MuiOutlinedInput-root {
        border-radius: 20px !important;
        background-color: #fff !important;
      }

      .float {
        position: absolute;
        top: 25px;
        background-color: #fff;
        border: 0.2px #02979d solid;
        border-radius: 25px;
        left: 0;
      }

      svg {
        color: $primary;
        font-size: 20px;
        padding-inline-end: 10px;
      }
    }
  }

  // status
  .status-psycholgy {
    .status {
      position: relative;
      .box-text {
        position: absolute;
        top: 70px;
        .p {
          max-width: 170px;
        }
      }
    }
  }

  // servise
  .servise-psycholgy {
    position: relative;
    .box {
      position: absolute;
      top: 220px;
      background-size: cover;
      z-index: -1;
    }
  }
}

// public seminar
.public-seminar {
  background-image: $primaryrightlinear;
}

// public seminar
.upcoming {
  background-image: $warningrightlinear;
}

// question
.question {
  .box,
  .box-active {
    border: 1px $primary solid;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .box-active {
    border-color: $warning !important;
  }
  .title-size {
    font-size: 20px !important;
  }
}
