#psychologychildren {
  background: url(/img/psychologychildren/Group1249.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-inline: auto;
  width: 100%;
  max-width: 1448px;
  height: 1056.66px;
  //header
  .header {
    flex-direction: column;
    text-align: center;
    gap: 69px;
  }
  //services
  .serviceH {
    position: relative;
     .box {
        position: absolute;
        top: 526px;       
    }
  }
  .container {
    margin-inline: 20px;
    margin-bottom: 20px;
  }
  .icon {
    font-size: 75px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    color: $light;
    background: $primarylinear;
  }
  .icon:hover {
    background: $secondary;
  }
  .caption {
    text-align: center;
    max-width: 190px;
    margin-top: 10px;
  }
  .article {
    position: relative;
    .content {
        position: absolute;
        top: 1392px;
    }
  }

  .tick {
    font-family: "Gilroy";
    color: $primary;
    font-size: 36px;
  }
  .desc-img {
    max-width: 100%;
    height: auto;
  }
  .consultants-bg {
    background: url(/img/psychologychildren/Frame14--.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-inline: auto;
  }

}
