$primary: #02979d;
$primarylight: #ecf7f7;
$primaryshadow: #02979d1a;
$primarybackgrond: #02989d05;
$gary: #bebebe;
$dark: #000b0c;
$primarylinear: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
$primaryrightlinear: linear-gradient(to right, #02989d93, #f0f0f0);
$light: #fafefe;
$warning: #eda12f;
$warningrightlinear: linear-gradient(to left, #eda12fc7, #f0f0f0);
$secondary: #eda12f;
