#psychology-children {
  .header {
    background: url("../img/psychologychildren/header.png");
    background-size: cover;
    height: 120vh;
    .width-text {
      height: 65vh;
      z-index: 10;
      .title {
        line-height: 70px;
      }
    }
  }
  .link {
    .icon {
      font-size: 75px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      color: $light;
      background: $primarylinear;
      padding: 25px;
    }
    &:hover {
      .icon {
        background: $secondary;
        transition: ease-in-out 0.3s;
      }
    }
  }
}
