#psychologyadults {
  // header
  .header {
    background-image: url("../img/psychologyadults/bg-header.png");
    background-size: cover;
    height: 140vh;
    width: 100%;

    .box-bg {
      background-image: url("../img/psychologyadults/bg-box-header.png");
      background-size: cover;
      margin: auto;
      display: block;
      h1 {
        span {
          display: block !important;
          color: $light;
        }
      }

      p {
        margin: auto;
        margin-top: 24px;
      }
    }
  }

  // services
  .services {
    .box-icon {
      margin: auto;
      color: $dark;
      &:hover {
        div {
          background: $warning;
          transition: all 0.3s;
        }
      }
      div {
        background: $primarylinear;
        border-radius: 100px;
        padding: 55px 0px 55px 0px;
        color: $light;
        width: 150px;
        margin: auto;
        svg {
          font-size: 64px;
        }
      }

      h5 {
        margin: auto;
        margin-top: 11px;
        font-size: 19px;
      }
    }
  }

  .psychologists {
    background-image: url("../img/psychologyadults/psychologists/bg-img.png");
    background-size: cover;
  }
}
