#depression {
  .MuiOutlinedInput-root {
    border-radius: 10px !important;
    box-shadow: 0px 1px 25px 0px $primaryshadow;
    background-color: $primarybackgrond;
    svg {
      font-size: 25px;
    }
    fieldset {
      border-color: $primary !important;
    }
  }

  // search
  .w-feild {
    .find {
      border-radius: 10px !important;
      right: -14px;
      padding: 14px;
      width: 170px;
      font-size: 16px;
    }
  }

  // centent
  .content {
    box-shadow: 0px 1px 25px 0px $primaryshadow !important;
    background-color: $primarybackgrond !important;
    border: 1px $primary solid;
    margin: 24px 0;
    img {
      border-radius: 5px;
    }
    .category {
      background-color: $primarylight;
      padding: 12px;
      border-radius: 4px;
    }
  }
}

.star {
  color: $warning;
  font-size: 20px;
}
