#header {
  .bg {
    background-size: cover !important;
    height: 140vh;
    width: 100% !important;
    z-index: 110 !important;
    background-position: bottom !important;
  }

  @media screen and (max-width: 480px) {
    .bg {
      height: 130vh;
    }

    h1 {
      span {
        font-size: 2rem !important;
      }
    }
  }

  .bgheader-1 {
    background: url("../../public/img/home/bg-header.png");
  }

  .bgheader-2 {
    background: url("../../public/img/home/bg-header.png");
  }

  .bgheader-3 {
    background: url("../../public/img/home/bg-header.png");
  }

  .bgheader-4 {
    background: url("../../public/img/home/bg-header.png");
  }

  h1 {
    span {
      display: block !important;
      color: #02979d;
      font-size: 2.8rem;
    }
  }

  // Cards
  .header-card {
    max-width: 100%;
    text-align: center;
    background: linear-gradient(100.35deg, #02979d 7.72%, #007378 92.28%);
    border-radius: 0px !important;
    padding: 24px 0px 24px;

    p {
      width: 116px;
      margin: auto;
    }
  }
}
