#latest-articles {
    background-color: #EDF8F8;
    padding: 43px 0px 43px;

    .card {
        background-color: rgba(250, 254, 254, 1);
        border-radius: 0%;
        box-shadow: 0px 1px 20px 0px rgba(2, 151, 157, 0.1);
        margin-top: 1.7rem;
        padding: 19px 0px 19px 19px !important;


        img {
            // padding-left: 19px;
            width: 318px;
            height: 207px;
        }


        hr {
            border: 1.33px solid rgba(2, 151, 157, 1);
            border-radius: 25px;
            color: black !important;
            background: rgba(2, 151, 157, 1);
            margin: auto;
            height:100%;
        }



        button {
            border: 1px solid #02979d;
            box-shadow: none !important;
            border-radius: 50px !important;
            padding: 10px 73px 10px 73px !important;
            font-size: 16px !important;
        }
    }
}