#our-mission {

    .bgimg-card {
        border-radius: 25px;
        width: 282px;
        height: 228px;
        background-size: cover !important;
    }

    .bg-vision {
        background: url("../../public/img/home/our-mission/vision.png");

    }

    .bg-mission {
        background: url("../../public/img/home/our-mission/mission.png");
    }

    .bg-value {
        background: url("../../public/img/home/our-mission/value.png");
    }

    .bg-goal {
        background: url("../../public/img/home/our-mission/goal.png");
    }
}