#services-pr {
  // text-align: center;
  // .card-pr {
  //     width: 100%;
  //     text-align: center;
  //     // background: linear-gradient(100.35deg, #02979D 7.72%, #007378 92.28%);
  //     // padding: 32px 0px 32px;
  //     // border-radius: 25.4px;
  // }

  .card-tab {
    width: 100%;
    text-align: center;
    padding: 32px 0px 32px;
    border-radius: 25.4px;
    // flood-color: transparent;
    // margin:auto 13px;

  }
  
  
  .card-tab-bg {
    background: url("../../public/img/home/services-pr/card-tab-bg.png");
    background-size: cover !important;
    height: 265px !important;
    border-radius: 25.4px;
  }
  
  .card-tab-bgactive{
    background: url("../../public/img/home/services-pr/bg-cardactive.png") !important;
    height: 301px !important;
    background-size: cover !important;
    padding: 0px 0px 42px;
  }

  .tabpanel {
    padding: 0% !important;
  }

}